@media (min-width: 1024px) {
  .main-container {
    max-width: 950px;
  }

  /* header */

  header {
    position: static;
  }

  .brand-info {
    gap: 20px;
  }

  .brand-info img {
    width: 90px;
    height: 90px;
  }

  .brand-info h2 {
    font-size: 2.5rem;
    width: 500px;
  }

  #menu-toggle {
    pointer-events: none;
  }

  .menu-icon {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    position: static;
    transform: translateX(0%);
  }

  nav a {
    padding: 0;
    font-size: 1.5rem;
    border: none;
    opacity: 1;
    transform: translateX(0%);
  }

  nav a:hover {
    color: var(--d-lavender);
  }

  /* home section */

  #home.content.active {
    margin: 3rem auto;
  }

  .img-container {
    width: 400px;
    height: 400px;
  }

  .details {
    gap: 30px;
  }
  .details h2 {
    font-size: 5rem;
  }

  .details h3 {
    font-size: 2.8rem;
  }

  .details p {
    font-size: 1.6rem;
  }

  /* service section */
  /* .service-list {
    grid-template-columns: repeat(3, 1fr);
  } */

  .box h3 {
    font-size: 1.8rem;
  }

  .box p {
    font-size: 1.2rem;
  }

  /* about section */

  #about.content.active {
    gap: 5rem;
  }

  .experience-box h3 {
    font-size: 1.8rem;
  }
  /* contact section */

  .contact-media {
    grid-template-columns: repeat(2, 1fr);
  }

  .fields {
    grid-template-columns: repeat(1, 1fr);
  }

  .fields div:last-child {
    grid-column: span 2;
  }

  /* footer section */
  .footer-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-box h3,
  .footer-box h4 {
    font-size: 1.5rem;
  }
}

/* pc screen size */

@media (min-width: 1250px) {
  .main-container {
    max-width: 1200px;
  }

  /* header */

  .brand-info {
    gap: 35px;
  }

  .brand-info img {
    width: 90px;
    height: 90px;
  }

  .brand-info h2 {
    font-size: 2.5rem;
    width: 500px;
  }
  .details h3 {
    font-size: 2.8rem;
  }

  nav {
    gap: 2.5rem;
  }

  /* home section */
  /* service section */
  /* project section */

  .projects {
    flex-direction: row;
    gap: 2rem;
  }

  .carousel {
    place-items: end;
  }

  .carousel img {
    width: 90%;
  }

  .arrows {
    margin-left: auto;
  }
}
